@charset "UTF-8";

@font-face {
  font-family: "linea-basic-10";
  src:url("../linea_basic_1.0/_ICONFONT/fonts/linea-basic-10.eot");
  src:url("../linea_basic_1.0/_ICONFONT/fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"),
    url("../linea_basic_1.0/_ICONFONT/fonts/linea-basic-10.woff") format("woff"),
    url("../linea_basic_1.0/_ICONFONT/fonts/linea-basic-10.ttf") format("truetype"),
    url("../linea_basic_1.0/_ICONFONT/fonts/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basic-accelerator:before {
  content: "a";
}
.icon-basic-alarm:before {
  content: "b";
}
.icon-basic-anchor:before {
  content: "c";
}
.icon-basic-anticlockwise:before {
  content: "d";
}
.icon-basic-archive:before {
  content: "e";
}
.icon-basic-archive-full:before {
  content: "f";
}
.icon-basic-ban:before {
  content: "g";
}
.icon-basic-battery-charge:before {
  content: "h";
}
.icon-basic-battery-empty:before {
  content: "i";
}
.icon-basic-battery-full:before {
  content: "j";
}
.icon-basic-battery-half:before {
  content: "k";
}
.icon-basic-bolt:before {
  content: "l";
}
.icon-basic-book:before {
  content: "m";
}
.icon-basic-book-pen:before {
  content: "n";
}
.icon-basic-book-pencil:before {
  content: "o";
}
.icon-basic-bookmark:before {
  content: "p";
}
.icon-basic-calculator:before {
  content: "q";
}
.icon-basic-calendar:before {
  content: "r";
}
.icon-basic-cards-diamonds:before {
  content: "s";
}
.icon-basic-cards-hearts:before {
  content: "t";
}
.icon-basic-case:before {
  content: "u";
}
.icon-basic-chronometer:before {
  content: "v";
}
.icon-basic-clessidre:before {
  content: "w";
}
.icon-basic-clock:before {
  content: "x";
}
.icon-basic-clockwise:before {
  content: "y";
}
.icon-basic-cloud:before {
  content: "z";
}
.icon-basic-clubs:before {
  content: "A";
}
.icon-basic-compass:before {
  content: "B";
}
.icon-basic-cup:before {
  content: "C";
}
.icon-basic-diamonds:before {
  content: "D";
}
.icon-basic-display:before {
  content: "E";
}
.icon-basic-download:before {
  content: "F";
}
.icon-basic-exclamation:before {
  content: "G";
}
.icon-basic-eye:before {
  content: "H";
}
.icon-basic-eye-closed:before {
  content: "I";
}
.icon-basic-female:before {
  content: "J";
}
.icon-basic-flag1:before {
  content: "K";
}
.icon-basic-flag2:before {
  content: "L";
}
.icon-basic-floppydisk:before {
  content: "M";
}
.icon-basic-folder:before {
  content: "N";
}
.icon-basic-folder-multiple:before {
  content: "O";
}
.icon-basic-gear:before {
  content: "P";
}
.icon-basic-geolocalize-01:before {
  content: "Q";
}
.icon-basic-geolocalize-05:before {
  content: "R";
}
.icon-basic-globe:before {
  content: "S";
}
.icon-basic-gunsight:before {
  content: "T";
}
.icon-basic-hammer:before {
  content: "U";
}
.icon-basic-headset:before {
  content: "V";
}
.icon-basic-heart:before {
  content: "W";
}
.icon-basic-heart-broken:before {
  content: "X";
}
.icon-basic-helm:before {
  content: "Y";
}
.icon-basic-home:before {
  content: "Z";
}
.icon-basic-info:before {
  content: "0";
}
.icon-basic-ipod:before {
  content: "1";
}
.icon-basic-joypad:before {
  content: "2";
}
.icon-basic-key:before {
  content: "3";
}
.icon-basic-keyboard:before {
  content: "4";
}
.icon-basic-laptop:before {
  content: "5";
}
.icon-basic-life-buoy:before {
  content: "6";
}
.icon-basic-lightbulb:before {
  content: "7";
}
.icon-basic-link:before {
  content: "8";
}
.icon-basic-lock:before {
  content: "9";
}
.icon-basic-lock-open:before {
  content: "!";
}
.icon-basic-magic-mouse:before {
  content: "\"";
}
.icon-basic-magnifier:before {
  content: "#";
}
.icon-basic-magnifier-minus:before {
  content: "$";
}
.icon-basic-magnifier-plus:before {
  content: "%";
}
.icon-basic-mail:before {
  content: "&";
}
.icon-basic-mail-multiple:before {
  content: "'";
}
.icon-basic-mail-open:before {
  content: "(";
}
.icon-basic-mail-open-text:before {
  content: ")";
}
.icon-basic-male:before {
  content: "*";
}
.icon-basic-map:before {
  content: "+";
}
.icon-basic-message:before {
  content: ",";
}
.icon-basic-message-multiple:before {
  content: "-";
}
.icon-basic-message-txt:before {
  content: ".";
}
.icon-basic-mixer2:before {
  content: "/";
}
.icon-basic-mouse:before {
  content: ":";
}
.icon-basic-notebook:before {
  content: ";";
}
.icon-basic-notebook-pen:before {
  content: "<";
}
.icon-basic-notebook-pencil:before {
  content: "=";
}
.icon-basic-paperplane:before {
  content: ">";
}
.icon-basic-pencil-ruler:before {
  content: "?";
}
.icon-basic-pencil-ruler-pen:before {
  content: "@";
}
.icon-basic-photo:before {
  content: "[";
}
.icon-basic-picture:before {
  content: "]";
}
.icon-basic-picture-multiple:before {
  content: "^";
}
.icon-basic-pin1:before {
  content: "_";
}
.icon-basic-pin2:before {
  content: "`";
}
.icon-basic-postcard:before {
  content: "{";
}
.icon-basic-postcard-multiple:before {
  content: "|";
}
.icon-basic-printer:before {
  content: "}";
}
.icon-basic-question:before {
  content: "~";
}
.icon-basic-rss:before {
  content: "\\";
}
.icon-basic-server:before {
  content: "\e000";
}
.icon-basic-server2:before {
  content: "\e001";
}
.icon-basic-server-cloud:before {
  content: "\e002";
}
.icon-basic-server-download:before {
  content: "\e003";
}
.icon-basic-server-upload:before {
  content: "\e004";
}
.icon-basic-settings:before {
  content: "\e005";
}
.icon-basic-share:before {
  content: "\e006";
}
.icon-basic-sheet:before {
  content: "\e007";
}
.icon-basic-sheet-multiple:before {
  content: "\e008";
}
.icon-basic-sheet-pen:before {
  content: "\e009";
}
.icon-basic-sheet-pencil:before {
  content: "\e00a";
}
.icon-basic-sheet-txt:before {
  content: "\e00b";
}
.icon-basic-signs:before {
  content: "\e00c";
}
.icon-basic-smartphone:before {
  content: "\e00d";
}
.icon-basic-spades:before {
  content: "\e00e";
}
.icon-basic-spread:before {
  content: "\e00f";
}
.icon-basic-spread-bookmark:before {
  content: "\e010";
}
.icon-basic-spread-text:before {
  content: "\e011";
}
.icon-basic-spread-text-bookmark:before {
  content: "\e012";
}
.icon-basic-star:before {
  content: "\e013";
}
.icon-basic-tablet:before {
  content: "\e014";
}
.icon-basic-target:before {
  content: "\e015";
}
.icon-basic-todo:before {
  content: "\e016";
}
.icon-basic-todo-pen:before {
  content: "\e017";
}
.icon-basic-todo-pencil:before {
  content: "\e018";
}
.icon-basic-todo-txt:before {
  content: "\e019";
}
.icon-basic-todolist-pen:before {
  content: "\e01a";
}
.icon-basic-todolist-pencil:before {
  content: "\e01b";
}
.icon-basic-trashcan:before {
  content: "\e01c";
}
.icon-basic-trashcan-full:before {
  content: "\e01d";
}
.icon-basic-trashcan-refresh:before {
  content: "\e01e";
}
.icon-basic-trashcan-remove:before {
  content: "\e01f";
}
.icon-basic-upload:before {
  content: "\e020";
}
.icon-basic-usb:before {
  content: "\e021";
}
.icon-basic-video:before {
  content: "\e022";
}
.icon-basic-watch:before {
  content: "\e023";
}
.icon-basic-webpage:before {
  content: "\e024";
}
.icon-basic-webpage-img-txt:before {
  content: "\e025";
}
.icon-basic-webpage-multiple:before {
  content: "\e026";
}
.icon-basic-webpage-txt:before {
  content: "\e027";
}
.icon-basic-world:before {
  content: "\e028";
}

/*
  0-600px -> small device
  600px - 900px   -> tablet device
  900px - 1200px  -> tablet -land
  [1200 - 1800px]  -> // this is where the normal css gets applicable
  1800+           -> big-desktop
 */
/*
$breakpoint argument choices
- phone
-tab-portrait
-tab-landscape
- big-screen
 */
/*
Unit measurement as it concerns media queries has its own particularity.
The value comes from the browser itself as against the root of the document.
So, base on this, em as unit of measurement is preferred.

The default for 1em -> 16px. // the 16px comes from the browser
 */
@keyframes btnMoveFromDown {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes headerMainAnimateFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  70% {
    transform: translateX(1rem);
    opacity: 0.8; }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes heading-Sub-AnimateFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* Responsive Design Work flow for SASS Project
From base -> typography -> General Layout -> Grid -> Page Layout -> Components
 */
html {
  font-size: 62.5%;
  background-color: rgba(0, 0, 0, 0.5); }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* not adding padding and border values to the height of any  element*/ }

body {
  box-sizing: border-box;
  padding: 3rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.5); }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0;
      margin: 0 auto;
      width: 100%; } }

::selection {
  background-color: #777777;
  color: #ffffff; }

.heading__primary--main {
  font-family: "Lato", sans-serif;
  color: #ffffff;
  display: block;
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 1rem;
  animation-name: headerMainAnimateFromLeft;
  animation-duration: 3s;
  animation-timing-function: ease-out; }
  @media only screen and (max-width: 56.25em) {
    .heading__primary--main {
      font-size: 2rem;
      letter-spacing: .5rem; } }

.heading__primary--sub {
  font-family: "Lato", sans-serif;
  color: #ffffff;
  display: block;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
  animation-name: heading-Sub-AnimateFromRight;
  animation-duration: 3s;
  animation-timing-function: ease-in; }
  @media only screen and (max-width: 75em) {
    .heading__primary--sub {
      font-size: 1.6rem; } }
  @media only screen and (max-width: 56.25em) {
    .heading__primary--sub {
      font-size: 1.6rem;
      font-weight: 400;
      margin-bottom: 1rem; } }

.section__heading-h3 {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  background-image: linear-gradient(to right, #28b485, #7ed56f);
  -webkit-background-clip: text;
  color: transparent; }
  @media only screen and (max-width: 56.25em) {
    .section__heading-h3 {
      font-size: 2rem;
      font-weight: 700;
      background-image: linear-gradient(to right, #28b485, #7ed56f);
      -webkit-background-clip: text;
      color: transparent; } }
  @media only screen and (max-width: 37.5em) {
    .section__heading-h3 {
      font-size: 1.6rem; } }

.heading-tertiary {
  background-color: white; }

.paragraph {
  font-size: 1.6rem;
  color: white;
  display: inline;
  width: 100%;
  text-align: justify-all; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .paragraph {
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.1; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-top: 2rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-top: 4rem; } }

.u-margin-top-medium {
  margin-top: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-medium {
      margin-top: 2rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-big {
      margin-top: 4rem !important; } }

.u-font-smaller {
  font-size: 1.67221rem; }

.u-heading-break {
  width: 55rem;
  text-align: center; }

.form__group {
  margin-left: 2rem;
  justify-content: left;
  text-align: left; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }

.form__label {
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: .7rem;
  font-weight: 700;
  display: block; }

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.9);
  font-family: inherit;
  color: inherit;
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  .form__input__radio-group {
    width: 100%; }
  .form__input::-webkit-input-placeholder {
    color: #999999; }
  .form__input:focus:invalid {
    border-bottom: 3px solid rgba(245, 113, 9, 0.95); }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 48%;
  display: inline-block; }
  @media only screen and (max-width: 56.25em) {
    .form__radio-group {
      width: 100%;
      margin: 1rem; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 3rem; }

.form__radio-btn {
  height: 2.5rem;
  width: 2.5rem;
  border: 3px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -.5rem;
  left: -.5rem; }
  .form__radio-btn::after {
    content: "";
    width: 1.5rem;
    height: 1.4rem;
    background-color: #fb565e;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .2s;
    opacity: 0; }

.form .form__radio-input:checked ~ .form__radio-label .form__radio-btn::after {
  opacity: 1; }

.bg-video {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  font-size: 2rem;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  /*padding: 1px 5px;*/
  padding: 1.5rem 3rem;
  border-radius: 10rem;
  transition: all 1s;
  position: relative;
  color: #28b485;
  font-weight: 400;
  border: none;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .btn, .btn:link, .btn:visited {
      font-size: 1.5rem;
      padding: .7rem 1rem;
      background-color: #ffffff; } }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.3rem);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn:hover {
  transform: translateY(-0.3rem);
  /* x-direction value, y-direction value, blurrish value and rgba color for the shadow*/
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.2) scaleY(1.5);
    opacity: 0; }

.btn::after {
  content: "";
  display: inherit;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #d9d7ce;
  border-radius: 10rem;
  z-index: -1;
  transition: all .8s; }

.btn--animated-from-down {
  animation: btnMoveFromDown 1s ease-out .50s;
  animation-fill-mode: backwards; }

.btn--white {
  background-color: #d9d7ce;
  color: #28b485; }
  @media only screen and (max-width: 56.25em) {
    .btn--white {
      margin-bottom: 2rem; } }
  .btn--white::after {
    background-color: #d9d7ce; }

.btn--green {
  background-color: #ffffff;
  font-weight: 700;
  color: #28b485; }
  @media only screen and (max-width: 37.5em) {
    .btn--green {
      margin-bottom: 2rem;
      padding: .7rem 1rem; } }
  @media only screen and (max-width: 56.25em) {
    .btn--green {
      margin-bottom: 2rem;
      padding: 1rem 1.5rem; } }
  .btn--green::after {
    background-color: #f7f7f7; }

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  border-bottom: .2rem solid black;
  padding: .6rem;
  font-size: 1.6rem;
  display: inline-block;
  background-image: linear-gradient(to top, #28b485, #7ed56f);
  font-weight: 500;
  color: #f7f7f7;
  transition: all .5s;
  float: left;
  margin-top: 3rem; }

.btn-text:hover {
  transform: translateY(-0.5rem) scale(1.2); }

.composition {
  top: 5%;
  position: relative;
  margin-left: 1.2rem;
  height: 26.5rem;
  width: 40rem;
  background-color: transparent; }
  @media only screen and (max-width: 56.25em) {
    .composition {
      width: 100%;
      margin: 2rem 0;
      left: 0;
      top: 0;
      height: 21.6rem; } }
  @media only screen and (max-width: 37.5em) {
    .composition {
      width: 100%;
      margin-left: 0;
      left: 0; } }
  .composition__img {
    width: 50%;
    height: 50%;
    border: 2px solid #333333;
    position: absolute;
    border-radius: 2px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    transition: all 2s;
    z-index: 1;
    outline-offset: 2rem;
    margin-right: .5rem; }
    @media only screen and (max-width: 56.25em) {
      .composition__img {
        float: left;
        position: relative;
        width: 33.333333%;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
        margin-right: auto;
        border: 2px solid #ffffff; } }
    .composition__img--img1 {
      left: -2rem;
      top: 0;
      z-index: 2; }
      @media only screen and (max-width: 56.25em) {
        .composition__img--img1 {
          left: 0;
          top: 0;
          transform: scale(1.1); } }
    .composition__img--img2 {
      left: 50%;
      top: -.8rem;
      z-index: 3; }
      @media only screen and (max-width: 56.25em) {
        .composition__img--img2 {
          left: 0;
          top: -2rem;
          transform: scale(1.3); } }
    .composition__img--img3 {
      left: 20%;
      top: 10rem;
      z-index: 2; }
      @media only screen and (max-width: 56.25em) {
        .composition__img--img3 {
          left: 0;
          top: 0;
          transform: scale(1.1); } }
    .composition__img:hover {
      transform: scale(1.1);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      z-index: 2;
      outline: 1rem solid rgba(0, 0, 0, 0.5); }
  .composition:hover .composition__img:not(:hover) {
    transform: scale(0.8);
    z-index: 1; }

.feature-box {
  background-image: linear-gradient(to bottom, white, white);
  height: 30rem;
  text-align: center;
  font-size: 1.5rem;
  padding: 2.5rem;
  color: black;
  border-radius: 3px;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.7);
  transition: transform .3s; }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      padding: 1.5rem 2rem; } }
  .feature-box__icon {
    background-color: white;
    font-size: 6rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(to bottom, #ffb900, rgba(245, 113, 9, 0.95));
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5px) scale(1.03); }
  .feature-box__text {
    background-color: white; }

.footer {
  background-color: #333333;
  color: #ffffff;
  padding: 1rem;
  font-size: 1.4rem;
  width: 100%; }
  .footer__link {
    padding: .2rem .5rem;
    border-radius: 1.5rem; }
    .footer__link:link, .footer__link:visited {
      text-transform: capitalize;
      background-color: #333333;
      margin: 1rem 0;
      color: #ffffff;
      font-weight: 600;
      font-size: 2rem;
      text-decoration: none;
      display: inline;
      transition: all .2s; }
    .footer__link:hover, .footer__link:active {
      transform: rotate(5deg) scale(2);
      cursor: pointer;
      box-shadow: 0 1rem 1rem rgba(255, 255, 255, 0.6);
      color: #55c57a;
      background-color: #ffffff; }
    .footer__link:last-child {
      padding-right: 1.2rem; }
  .footer__logo-box {
    width: 100%;
    text-align: center;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__logo-box {
        width: 100%;
        margin-bottom: 4rem; } }
  .footer__logo {
    width: 30rem;
    height: auto; }
  .footer__navigation-box {
    width: 100%;
    border-top: 1px solid #999999;
    padding-top: 1rem;
    display: inline-block;
    float: left;
    margin-left: 0;
    text-align: justify; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation-box {
        width: 100%;
        float: none; } }
  .footer__list {
    background-color: #ffb900;
    display: inline-block;
    height: 3rem;
    border-radius: 1.5rem; }
    .footer__list:first-child {
      padding-right: .2rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__list {
        height: 6rem; } }
  .footer__item {
    list-style: none;
    display: inline-block;
    color: #777777; }
    .footer__item:not(:last-child) {
      margin-right: 2rem; }
  .footer__copyright {
    padding-top: 2rem;
    display: inline-block;
    text-align: center;
    margin: 0 auto; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }
  .footer__box {
    width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .footer__box {
        float: none; } }
  .footer__copyright-text {
    width: 100%;
    border-top: 1px solid #999999;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright-text {
        padding-left: .5rem;
        margin-left: .5rem; } }
  .footer__analogue-clock {
    top: 0;
    left: 0;
    position: relative;
    height: 20rem;
    width: 20rem;
    background-color: floralwhite;
    border-radius: 100%; }
  .footer__seconds-hand {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70px;
    width: 1px;
    transform: rotate(170deg);
    border: 1px solid red;
    transform-origin: 0 0;
    backface-visibility: hidden; }
  .footer__minutes-hand {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70px;
    width: 1px;
    transform: rotate(350deg);
    border: 1px solid black;
    transform-origin: 0 0;
    backface-visibility: hidden; }
  .footer__hours-hand {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 1px;
    transform: rotate(90deg);
    border: 1px solid blue;
    transform-origin: 0 0;
    backface-visibility: hidden; }

.card {
  border-radius: 3rem;
  background-color: #333333;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem;
  text-align: center; }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    display: inline-block;
    position: absolute;
    top: 55%;
    left: 1rem;
    text-align: center;
    border-bottom: 2px solid yellow;
    box-shadow: 0 3px 3px #cdb332; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card__price-box {
    margin-bottom: 7rem;
    text-align: center; }
  .card__price-only {
    font-size: 1.4rem; }
  .card__price-value {
    font-size: 2.2rem;
    font-weight: 100; }
  .card__details {
    height: auto;
    margin: 0 auto;
    font-style: initial;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 2rem;
    position: absolute;
    width: 100%;
    top: 30rem;
    text-align: left;
    padding: 0 1em; }
  .card__picture {
    height: 23rem;
    width: 95%;
    display: inline-block;
    background-blend-mode: screen;
    margin-top: 2rem; }
    .card__picture-1 {
      background-image: linear-gradient(to bottom right, rgba(247, 247, 247, 0.3), black), url("../max-img/max-logo.png");
      background-repeat: no-repeat;
      background-size: cover; }
  .card__side {
    border-radius: 3rem;
    height: 45rem;
    color: #ffffff;
    font-size: 2rem;
    text-transform: uppercase;
    transition: all .9s ease;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.7); }
    .card__side--front {
      background-color: #777777;
      backface-visibility: hidden; }
    .card__side--back {
      transform: rotateY(180deg);
      opacity: 0;
      backface-visibility: hidden; }
      .card__side--back-1 {
        background-image: linear-gradient(to bottom right, #ffb900, rgba(245, 113, 9, 0.95)); }
      .card__side--back-2 {
        background-image: linear-gradient(to bottom left, rgba(245, 113, 9, 0.95), #ffb900); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0);
    opacity: 1; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      overflow: hidden;
      height: auto;
      border-radius: 2rem;
      background-color: white;
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.7); }
      .card__heading {
        font-size: 2.8rem;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
        display: inline-block;
        position: relative;
        top: 0;
        left: 0;
        text-align: center;
        border-bottom: 2px solid yellow;
        box-shadow: 0 3px 3px #cdb332;
        width: 40%; }
      .card__side {
        border-radius: 0;
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--front {
          background-color: #777777;
          backface-visibility: hidden; }
        .card__side--back {
          transform: rotateY(0);
          opacity: 1;
          border-radius: 0;
          clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%); }
      .card__cta {
        position: relative;
        padding-top: 4rem;
        top: 0;
        left: 0;
        transform: translate(0); }
      .card__details {
        font-size: 1.4rem;
        margin: 0;
        position: relative;
        width: 100%;
        top: 0;
        text-align: left; }
      .card__picture {
        height: 23rem;
        width: 95%;
        display: inline-block;
        background-blend-mode: screen;
        margin-top: 2rem;
        object-fit: cover; }
        .card__picture-1 {
          background-image: linear-gradient(to bottom right, rgba(247, 247, 247, 0.3), black), url("../max-img/max-logo.png");
          background-repeat: no-repeat;
          background-size: cover; }
      .card:hover .card__side--front {
        transform: rotateY(0); } }
  @media only screen and (max-width: 37.5em) {
    .card {
      font-size: 2.2rem;
      left: 2rem;
      width: 90%;
      text-align: center; }
      .card__heading {
        font-size: 1.5rem; } }

.span__heading {
  -webkit-box-decoration-break: clone;
  padding: 1rem 1.5rem;
  font-size: 2.75rem;
  margin: 1rem 0; }
  @media only screen and (max-width: 56.25em) {
    .span__heading {
      width: 100%;
      padding: 0;
      text-align: center;
      font-weight: 500;
      font-size: 2.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .span__heading {
      font-size: 1.5rem; } }

.card__row {
  position: relative;
  width: 100%;
  height: 45rem;
  border-radius: 3rem;
  background-color: #777777;
  background-image: linear-gradient(to right, #777777, #000000);
  overflow: hidden;
  margin: 0; }

.card__col-1-of-2 {
  background-image: linear-gradient(#000000, #777777);
  width: 20%;
  height: 43rem;
  float: left;
  text-align: center;
  padding: 0;
  font-size: 5rem;
  font-weight: 700;
  margin-left: 1rem;
  display: block; }
  .card__col-1-of-2 .card__col-2-of-2 {
    width: 70%;
    float: right;
    text-align: left;
    height: 43rem; }
    @media only screen and (max-width: 37.5em) {
      .card__col-1-of-2 .card__col-2-of-2 {
        margin-left: 0; } }
  .card__col-1-of-2 .card__row--heading {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffa200; }
    .card__col-1-of-2 .card__row--heading-span {
      font-size: 4rem; }
      @media only screen and (max-width: 56.25em) {
        .card__col-1-of-2 .card__row--heading-span {
          font-size: 2rem; } }
  .card__col-1-of-2-char {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #ffa200; }
    @media only screen and (max-width: 56.25em) {
      .card__col-1-of-2-char {
        font-size: 3.2rem; } }
    @media only screen and (max-width: 37.5em) {
      .card__col-1-of-2-char {
        font-size: 2rem; } }
    .card__col-1-of-2-char:not(:last-child) {
      margin-bottom: 0; }

.card__list {
  list-style: none;
  margin: 0 auto;
  text-align: left; }
  @media only screen and (max-width: 37.5em) {
    .card__list {
      width: 60vw; } }
  .card__list-item {
    display: inline-block;
    width: 70%;
    text-align: left;
    border-bottom: none;
    padding-bottom: 0;
    padding-left: .5rem;
    font-weight: 500;
    text-transform: capitalize; }
    @media only screen and (max-width: 56.25em) {
      .card__list-item {
        font-size: 1.6rem; } }
    @media only screen and (max-width: 37.5em) {
      .card__list-item {
        font-size: 1rem; } }
    .card__list-item:last-child {
      box-shadow: 0 2px 3px yellow; }

.clearfix:after {
  content: "";
  clear: both;
  display: table; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #ffb900;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  text-align: left;
  transform: skewX(-12deg); }
  @media only screen and (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 6rem; } }
  @media only screen and (max-width: 37.5em) {
    .story {
      transform: skewX(0); } }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story > * {
    transform: skewX(12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    position: relative;
    text-transform: uppercase;
    font-size: 1.7rem;
    float: left;
    border-radius: 100px;
    transform: translateX(-3rem) skewX(12deg);
    transition: all .5s; }
    @supports (shape-outside: circle()) and (clip-path: polygon(0 0)) {
      .story__shape {
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        border-radius: 0; } }
    @media only screen and (max-width: 37.5em) {
      .story__shape {
        transform: skewX(0); } }
  .story__image {
    width: 100%;
    height: 100%;
    transform: translateX(-1.5rem) scale(1.2);
    backface-visibility: hidden;
    transition: all .5s; }
  .story:hover .story__image {
    transform: translateX(-1.5rem) scale(1);
    filter: blur(0.3rem) brightness(80%); }
  .story__text {
    transform: skewX(12deg); }
    @media only screen and (max-width: 37.5em) {
      .story__text {
        transform: skewX(0); } }
  .story__caption {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #ffffff;
    opacity: 0; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  background-color: rgba(0, 0, 0, 0.8); }
  @supports (-webkit-backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .popup__content {
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: table;
    overflow: hidden;
    width: 75%;
    background-color: #ffffff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-right: 3px;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .3s .2s; }
    @media only screen and (max-width: 56.25em) {
      .popup__content {
        display: block;
        width: 85%;
        overflow: visible; } }
  .popup__image {
    display: inline-block;
    width: 100%;
    object-fit: cover; }
  .popup__left {
    width: 33.333%;
    display: table-cell; }
    @media only screen and (max-width: 56.25em) {
      .popup__left {
        width: 100%;
        display: block; } }
  .popup__right {
    width: 66.666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
    @media only screen and (max-width: 56.25em) {
      .popup__right {
        width: 100%;
        display: block;
        overflow-scrolling: auto; } }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 3rem;
    column-count: 2;
    column-gap: 2rem;
    column-rule: 1px solid #999999;
    -moz-hyphens: auto;
    hyphens: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    transform: translate(-50%, -50%) scale(1); }
  .popup__close-btn:visited, .popup__close-btn:link {
    position: absolute;
    top: 1rem;
    right: 2.5rem;
    text-decoration: none;
    color: #333333;
    font-size: 5rem;
    transition: all .3s;
    line-height: 1; }
  .popup__close-btn:hover {
    color: darkgreen; }

.header {
  height: 85vh;
  /*using two images in the same element by using background-image
  properties (1) gradient and png image */
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), url(../max-img/max-lady-on-electric-bike-header.png);
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  /* responsive images section using media queries */ }
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-device-pixel-ratio: 2) and (min-width: 37.5em) {
    .header {
      background-image: linear-gradient(to bottom right, rgba(51, 51, 51, 0.5), rgba(0, 0, 0, 0.5)), url(../max-img/max-lady-on-electric-bike-header.png); } }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      height: 95vh; } }
  @media only screen and (max-width: 56.25em) {
    .header {
      background-size: 100%;
      object-fit: cover;
      height: 85vh; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      background-size: 100%;
      object-fit: cover;
      height: 40vh; } }
  .header__logo-container {
    top: 1rem;
    left: 1rem;
    position: absolute; }
    .header__logo-container .header__logo {
      height: 8vh; }
      @media only screen and (max-width: 56.25em) {
        .header__logo-container .header__logo {
          height: 5vh; } }
  .header .heading__container {
    text-transform: uppercase;
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    backface-visibility: hidden; }
    @media only screen and (max-width: 56.25em) {
      .header .heading__container {
        width: 100%;
        top: 100%; } }
  .header__logo-container:hover {
    animation: heading-Sub-AnimateFromRight 2s; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 2rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 100%;
      padding: 0 3rem; } }
  @media only screen and (min-width: 112.5em) {
    .row {
      width: 100%; } }

[class^="col-"] {
  color: white;
  float: left; }
  [class^="col-"]::after {
    content: "";
    display: table;
    clear: both; }
  [class^="col-"]:not(:last-child) {
    margin-right: 2rem; }
    @media only screen and (max-width: 56.25em) {
      [class^="col-"]:not(:last-child) {
        margin-right: 0;
        margin-bottom: 2rem; } }
  @media only screen and (max-width: 56.25em) {
    [class^="col-"] {
      width: 100% !important;
      margin: 0 auto; } }

.col-1-of-2 {
  width: calc( (114rem - (2rem) *2) / 2); }
  @media only screen and (max-width: 75em) {
    .col-1-of-2 {
      width: 45%; } }

.col-1-of-3 {
  width: calc( (114rem - (2rem * 2) ) / 3); }

.col-1-of-4 {
  width: calc((114rem - (2rem * 3)) / 4); }

.col-2-of-4 {
  width: calc((114rem / 2) - 1rem); }

.col-2-of-3 {
  width: calc((100% - 2 * 3rem) + 3rem); }

.row-card {
  display: inline-block;
  max-width: 114rem;
  text-align: center; }

[class^="column-1-of-"] {
  display: inline-block;
  width: calc((114rem - (2rem * 2) )/ 3);
  background-color: black;
  float: left; }
  [class^="column-1-of-"]:not(:last-child) {
    margin-right: 2rem; }

.navigation {
  width: 100%; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    height: 7.3rem;
    width: 7.3rem;
    position: fixed;
    top: 2.5rem;
    right: 5rem;
    border-radius: 100%;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    z-index: 500; }
    @media only screen and (max-width: 56.25em) {
      .navigation__button {
        top: 1rem;
        right: 2rem;
        width: 5.5rem;
        height: 5.5rem; } }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 3.5rem;
    right: 3.5rem;
    background-image: radial-gradient(#777777, #333333);
    border-radius: 50%;
    z-index: 1;
    transition: transform 0.8s cubic-bezier(0.08, 0, 0.07, 1);
    opacity: 0; }
  .navigation__nav {
    height: 70vh;
    z-index: 200;
    background-color: rgba(245, 113, 9, 0.95);
    position: fixed;
    top: 0;
    right: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.256, 1.55);
    opacity: 0;
    width: 0; }
  .navigation__list {
    position: absolute;
    left: 50%;
    top: 50%;
    list-style: none;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: .5rem 2rem;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 80%, white 100%);
    background-size: 220%;
    transition: all .4s; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #333333;
    transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    opacity: 1;
    z-index: 2;
    width: 100%;
    height: 4rem;
    transform: scale(50); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__icon {
    margin-top: 3.5rem;
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .navigation__icon {
        margin-top: 2.5rem; } }
    .navigation__icon, .navigation__icon::after, .navigation__icon::before {
      width: 3.5rem;
      height: 2.2px;
      background-color: #333333;
      display: inline-block;
      transition: all .2s; }
      @media only screen and (max-width: 56.25em) {
        .navigation__icon, .navigation__icon::after, .navigation__icon::before {
          width: 2.5rem; } }
    .navigation__icon::after, .navigation__icon::before {
      content: "";
      position: absolute;
      left: 0; }
    .navigation__icon::after {
      top: 1rem; }
    .navigation__icon::before {
      top: -1rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1.2rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1.2rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
    background-color: #2998ff; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.section__heading-h2 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  transition: all;
  padding: 1rem;
  -webkit-background-clip: text;
  font-size: 3.5rem;
  font-weight: 700;
  color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone; }
  @media only screen and (max-width: 37.5em) {
    .section__heading-h2 {
      font-size: 2.5rem;
      width: 100%; } }
  @media only screen and (max-width: 56.25em) {
    .section__heading-h2 {
      font-size: 2.7rem;
      width: 100%; } }
  .section__heading-h2:hover {
    transform: scale(1) skewY(2deg);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.97); }

.section__container-text {
  text-align: left;
  margin-left: 1rem; }

section {
  text-align: center;
  height: auto;
  padding: 3rem;
  margin-top: -2.5rem; }

.section-about {
  background-image: linear-gradient(to right, rgba(245, 113, 9, 0.95), #ffb900);
  padding: 15rem 0;
  margin-top: -20vh; }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 10rem 0;
      width: 100%; } }

.section__container {
  max-width: 114rem;
  display: inline-block;
  padding-left: 1rem; }
  @media only screen and (max-width: 56.25em) {
    .section__container {
      width: 100%;
      text-align: center; } }
  .section__container-img {
    padding: 3rem;
    background-color: #eee;
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .section__container-img {
        width: 100%;
        height: 12rem;
        background-color: transparent;
        text-align: center;
        padding: 1rem; } }
  .section__container-text {
    background-color: transparent; }
    @media only screen and (max-width: 56.25em) {
      .section__container-text {
        width: 100%;
        padding: 1rem; } }

[class^="section__container-"] {
  height: 40rem;
  width: calc((114rem - 3rem) /2);
  float: left; }
  [class^="section__container-"]:not(:last-child) {
    margin-right: 1rem; }

.section-feature {
  padding: 20rem 0;
  background-image: linear-gradient(to bottom, #f57109, #f57109);
  background-size: cover;
  transform: skewY(-5deg);
  margin-top: 3rem; }
  .section-feature > * {
    transform: skewY(5deg); }
  @media only screen and (max-width: 56.25em) {
    .section-feature {
      padding: 10rem 0;
      margin-top: 1.5rem; } }

.section-destination {
  background-color: #333333;
  padding: 18rem 0;
  margin-top: -10rem;
  margin-bottom: 6rem; }
  @media only screen and (max-width: 56.25em) {
    .section-destination {
      padding: 10rem 0;
      margin-bottom: 3rem; } }

.section-stories {
  padding: 15rem 0;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }

/*
  The booking part of the page
 */
.section__booking {
  padding: 15rem 0;
  background-image: linear-gradient(to right, rgba(245, 113, 9, 0.95), #ffb900); }

/* THIS PART OF THE CSS IS RESPONSIBLE FOR PARTITIONING THE CONTAINER FOR FORM INTO TWO 
  USING BACKGROUND-IMAGE: LINEAR-GRADIENT PROPERTY */
.booking {
  background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 75em) {
    .booking {
      background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 70%, transparent 70%), url(../img/nat-10.jpg);
      background-size: cover; } }
  @media only screen and (max-width: 75em) and (max-width: 56.25em) {
    .booking {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%, transparent 50%), url(../img/nat-10.jpg); } }
  .booking__form {
    width: 50%; }
    @media only screen and (max-width: 75em) {
      .booking__form {
        width: 70%; } }
    @media only screen and (max-width: 56.25em) {
      .booking__form {
        width: 100%; } }
