
//COLOR
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-light-2: #eee;
$color-grey-light-1: #f7f7f7;


$color-grey: #777777;
$color-grey-dark-2: #999999;
$color-grey-dark-3: #333333;
$color-black: #000000;
$color-white: #ffffff;


$btn-white-background-color: #d9d7ce;

$color-secondary-light: #ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-light: #5643fa;


// GRID
$grid-width: 114rem;
$grid-vertical: 2rem;
$grid-horizontal: 3rem;


// FONT
$default-font-size: 1.6rem;