

.row{
  max-width: $grid-width;
  margin: 0 auto;
  @include clear-fix;

  &:not(:last-child){
    margin-bottom: $grid-horizontal;
    @include respond(tab-port){
      margin-bottom: $gutter-horizontal-small;
    }
  }

  @include respond(tab-port){
    max-width: 100%;
    padding: 0 3rem;
  }

  @include respond(big-screen) {
    width: 100%;
  }

}




[class^="col-"] {

  color: white;
  float: left;
  @include clear-fix;


  &:not(:last-child){
    margin-right: $grid-vertical;
    @include respond(tab-port){
      margin-right: 0;
      margin-bottom: $gutter-horizontal-small;

    }

  }

  @include respond(tab-port){
    width: 100% !important;
  }



}


.col-1-of-2{
  width: calc( (#{$grid-width} - (#{$grid-vertical}) *2) / 2);
  @include respond(tab-land) {
    width: 45%;
  }


}

.col-1-of-3{

  width: calc( (#{$grid-width} - (#{$grid-vertical} * 2) ) / 3);
}

.col-1-of-4{
  width: calc((#{$grid-width} - (#{$grid-vertical} * 3)) / 4);

}

.col-2-of-4{
width: calc((#{$grid-width} / 2) - 1rem);
}
.col-2-of-3{
  width: calc((100% - 2 * #{$grid-horizontal}) + #{$grid-horizontal});
}