

.header{
  height: 90vh;
  /*using two images in the same element by using background-image
  properties (1) gradient and png image */
  background-image: linear-gradient(to bottom right , rgba($color-primary-light, 0.5), rgba($color-primary-dark, 0.5)), url(../max-img/max-lady-on-electric-bike-header.png);
  background-size: cover;
  //clip-path: polygon(0 0, 50% 80%, 100% 100%, 0% 100%);
  position: relative;

  &__logo-container {
    top: 1rem;
    left: 1rem;
    position: absolute;

    .header__logo {
      height: 8vh;
    }
  }

  .heading__container{
    text-transform: uppercase;
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    backface-visibility: hidden;


  }

  &__logo-container:hover{
    animation: heading-Sub-AnimateFromRight 2s;
  }
}