
.composition{
  top: 5%;
  position: relative;
  margin-left: 1.2rem;
  height: 26.5rem;
  width: 40rem;
  background-color: transparent;


  @include respond(tab-port) {
    width: 100%;
    margin: 2rem 0;
    left: 0;
    top: 0;
    height: 21.6rem;
  }

  @include respond(phone) {
    width: 100%;

    margin-left: 0;
    left: 0;

  }

  &__img{
    width: 50%;
    height: 50%;
    border: 2px solid $color-grey-dark-3;
    position: absolute;
    border-radius: 2px;
    box-shadow: 0 1.5rem 4rem rgba( $color-black, .4);
    transition: all 2s;
    z-index: 1;
    outline-offset: 2rem;
    margin-right: .5rem;

    @include respond(tab-port) {
      float: left;
      position: relative;
      width: 33.333333%;
      box-shadow: 0 1rem 3rem rgba($color-black, .2);
      margin-right: auto;
      border: 2px solid $color-white;

    }

    &--img1{
      left: -2rem;
      top: 0;
      z-index: 2;

      @include respond(tab-port) {
        left: 0;
        top: 0;
        transform: scale(1.1);
      }
    }

    &--img2{
      left: 50%;
      top: -.8rem;
      z-index: 3;

      @include respond(tab-port) {
      left: 0;
       top: -2rem;
        transform: scale(1.3);
      }
    }

    &--img3{
      left: 20%;
      top: 10rem;
      z-index: 2;

      @include respond(tab-port) {
      left: 0;
       top: 0;
        transform: scale(1.1);

      }
    }

    &:hover{
      transform: scale(1.1);
      box-shadow: 0 2px 4px rgba($color-black, .5);
      z-index: 2;
      outline: 1rem solid rgba($color-black, .5);

    }

  }

  &:hover &__img:not(:hover){
    transform: scale(0.8);
    z-index: 1;

  }
}