

@keyframes btnMoveFromDown {
  0%{
    opacity: 0;
    transform: translateY(5rem);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes headerMainAnimateFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  70% {
    transform: translateX(1rem);
    opacity: 0.8;
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }

}
@keyframes heading-Sub-AnimateFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }


  80%{
    transform: translateX(-1rem);
  }


  100%{
    opacity: 1;
    transform: translate(0);
  }
}



