.u-center-text{
  text-align: center !important;
}

.u-margin-bottom-small{
  margin-bottom: 1rem !important;
}

.u-margin-bottom-medium{
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big{
  margin-bottom: 8rem !important;
}

.u-margin-top-medium{
  margin-top: 4rem !important;
}

.u-margin-top-big{
  margin-top: 8rem !important;
}

.u-font-smaller{
  font-size: 1.67221rem;
}

.u-heading-break{
  width: 55rem;
  text-align: center;
}